.field {
    height: 320px;
    width: 800px;
    display: grid;
    grid-template-rows: 80px 80px 80px 80px 80px;
  grid-template-columns: 80px 80px 80px 80px 80px 80px 80px 80px 80px 80px;
    margin: 5px auto;
    padding: 0;
}

.field > div {
    padding: 0;
    border: solid 1px aqua;
    text-align: center;
    position: relative;
}

.heroe {
    width:  80%;
    height: 80%;
    top: 10%;
    left: 10%;
    position: absolute;
    background-color: black;
    color:  white;
    border: solid 2px black;
    border-radius: 5px;
}  